{
  "singleQuote": true,
  "overrides": [
    {
      "files": "*.sol",
      "options": {
        "printWidth": 80,
        "tabWidth": 4,
        "singleQuote": false,
        "bracketSpacing": true
      }
    },
    {
      "files": "contracts/**/*.sol",
      "options": {
        "useTabs": true
      }
    },
    {
      "files": "test/**/*.sol",
      "options": {
        "useTabs": false
      }
    }
  ],
  "plugins": ["prettier-plugin-solidity"]
}
